.my-3 {
    /* margin-bottom: 1rem;
    padding: 1rem; */
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 200px;
    border-radius: 10px;
    background-color: #bcf;
    /* width: ; */
  }
  
  h3 {
    color: #6735dc;
    /* text-align: center; */
  }
  
  p {
    background-color: #2608cc;
    border-radius: 5px;
    height: fit-content;
    width: max-content;
    color: #f9f7f8;
    text-align: center;
  }
  
  .btn-danger {
    background-color: #5511dc;
    color: #fff;
    border: 2px solid #340483;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s; /* Smooth transition on hover */
  }
  
  .btn-danger:hover {
    background-color: #bcf;
  }
  